KAFKA_BOOTSTRAP=localhost:9092
TIMESCALEDB_HOST=localhost
TIMESCALEDB_PORT=5432
TIMESCALEDB_USER=stocks
TIMESCALEDB_PASSWORD=stocks
TIMESCALEDB_DB=stocks
GRAFANA_URL=http://localhost:3000
FLINK_JOBMANAGER_URL=http://localhost:8081
POLL_INTERVAL_SECONDS=5
TARGET_PROFIT_PCT=0.04
